{% extends '::base.html.twig' %}

{% block page_title %}<span class="pro3x_small_icon pro3x_small_icon_dashboard"></span>{{ 'Pro3x Online Dashboard'|trans }}{% endblock %}

{% block body %}
    <div class="grid_12">
	{% include '::message.html.twig' %}
	
	<div class="ui-widget ui-corner-all ui-widget-content pro3x_dashboard_panel_box">
	    <div class="ui-widget-header ui-corner-all pro3x_dashboard_panel_header">{{ 'Trgovačko poslovanje'|trans}}</div>
	    <div class="pro3x_dashboard_panel">
	
		<a class="button" href="{{ path('add_invoice', {'back': app.request.uri}) }}">
		    <span class="pro3x_icon pro3x_icon_invoice_add"></span>
		    {{ 'Novi Račun'|trans }}
		</a><a class="button" href="{{ path('invoices', { 'id': app.user.id }) }}">
		    <span class="pro3x_icon pro3x_icon_invoice"></span>
		    {{ 'Popis Računa'|trans }}
		</a><a class="button" href="{{ path('pro3x_invoice_product_add', {'back': app.request.uri}) }}">
		    <span class="pro3x_icon pro3x_icon_inventory_add"></span>
		    {{ 'Novi Artikal'|trans }}
		</a><a class="button" href="{{ path('products') }}">
		    <span class="pro3x_icon pro3x_icon_inventory"></span>
		    {{ 'Popis Artikala'|trans }}
		</a><a class="button" href="{{ path('add_client', {'back': app.request.uri}) }}">
		    <span class="pro3x_icon pro3x_icon_client_add"></span>
		    {{ 'Novi Kupac'|trans }}
		</a><a class="button" href="{{ path('clients') }}">
		    <span class="pro3x_icon pro3x_icon_client"></span>
		    {{ 'Popis Kupaca'|trans }}
		</a><a class="button" href="{{ path('tax_rates') }}">
		    <span class="pro3x_icon pro3x_icon_tax"></span>
		    {{ 'Porezne Stope'|trans }}
		</a><a class="button" href="{{ path('locations') }}">
		    <span class="pro3x_icon pro3x_icon_location"></span>
		    {{ 'Lokacije'|trans }}
		</a><a class="button" href="{{ path('positions') }}">
		    <span class="pro3x_icon pro3x_icon_position"></span>
		    {{ 'Blagajne'|trans }}
		</a><a class="button" href="{{ path('templates') }}">
		    <span class="pro3x_icon pro3x_icon_template"></span>
		    {{ 'Predlošci'|trans }}
		</a><a class="button" href="{{ path('daily_total', {'id': app.user.id, 'position': app.user.position}) }}">
		    <span class="pro3x_icon pro3x_icon_report"></span>
		    {{ 'Dnevni promet'|trans }}
		</a>
	    </div>
	</div>
	    
	<div class="ui-widget ui-corner-all ui-widget-content pro3x_dashboard_panel_box">
	    <div class="ui-widget-header ui-corner-all pro3x_dashboard_panel_header">{{ 'Sigurnosne postavke'|trans }}</div>
	    <div class="pro3x_dashboard_panel">
	
		<a class="button" href="{{ path('add_user', {'back': app.request.uri}) }}">
		    <span class="pro3x_icon pro3x_icon_user_add"></span>
		    {{ 'Novi Korisnik'|trans }}
		</a><a class="button" href="{{ path('users_list') }}">
		    <span class="pro3x_icon pro3x_icon_users"></span>
		    {{ 'Popis Korisnika'|trans }}
		</a><a class="button" href="{{ path('add_group', {'back': app.request.uri}) }}">
		    <span class="pro3x_icon pro3x_icon_group_add"></span>
		    {{ 'Nova Grupa'|trans }}
		</a><a class="button" href="{{ path('list_groups') }}">
		    <span class="pro3x_icon pro3x_icon_groups"></span>
		    {{ 'Popis Grupa'|trans }}
		</a>
	    </div>
	</div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}