<tr data-total="{{ item.taxedPrice }}" class="item-{{ item.id}}" data-id="{{ item.id }}">
    <td>
        {% if item.invoice.sequence == null and item.invoice.tenderSequence == null %} <a data-target=".item-{{ item.id }}" class="pro3x_delete_invoice_item pro3x-document-action" href="{{ path('delete_invoice_item', {'id' : item.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>{% endif %}
        <div class="invoice-item-description" data-id="{{ item.id }}">{{ item.description|raw }}</div>
    </td>
    <td style="text-align: right;">{{ item.taxedPriceFormated }}</td>
    <td style="text-align: right;">{{ item.amountFormated }} <span class="pro3x_unit">{{ item.unit }}</span></td>
    <td style="text-align: right;">{{ item.totalTaxedPriceFormated }}</td>
    <td style="text-align: right;">{{ item.discountFormated }}%</td>
    <td style="text-align: right;">{{ item.discountPriceFormated }}</td>
</tr>