<tr data-total="{{ item.taxedPrice }}">
    <td>{{ item.description }} <a class="pro3x_delete_invoice_item" href="{{ path('delete_invoice_item', {'id' : item.id}) }}">{{ 'delete'|trans }}</a></td>
    <td style="text-align: right;">{{ item.unitPriceFormated }}</td>
    <td style="text-align: right;">{{ item.amountFormated }} <span class="pro3x_unit">{{ item.unit }}</span></td>
    <td style="text-align: right;">{{ item.discountFormated }}%</td>
    <td style="text-align: right;">{{ item.priceFormated }}</td>
    <td style="text-align: right;">{{ item.taxedPriceFormated }}</td>
</tr>