{% if invoice.sequence == null %}
    <input type="hidden" name="invoice" value="{{ invoice.id }}" />
    {% if invoice.tenderSequence == null %}
        <div class="col-md-4" style="padding: 0px 4px 0px 0px;">
            <input type="text" class="form-control actionCode" placeholder="Barkod, šifra ili naziv artikla" name="code" />
        </div>
        <input  id="addProduct" class="btn btn-primary" type="button" name="action" value="Dodaj" />
        <a class="btn btn-primary" href="{{ path('change_invoice_customer', {'id': invoice.id, 'back': app.request.uri}) }}">{{ 'Kupac'|trans }}</a>
    {% endif %}
    <div style="display: inline-block; margin-right: 2px;">
        <div class="btn-group">
            <input  id="print" style="width: 74px;" data-mode="{{ invoice.position.location.templatesSorted[0].id }}" data-cloud="{{ invoice.position.location.templatesSorted[0].useGoogleCloud }}" class="btn btn-primary" type="button" name="action" value="Ispis" />
            <button  id="select" class="btn btn-primary dropdown-toggle" style="width: auto;" data-toggle="dropdown" type="button" name="action" value=""><span class="caret"></span></button>
            <ul id="invoice-templates" class="dropdown-menu" role="menu">
                {% for item in invoice.position.location.templatesSorted %}
                    <li><a data-cloud="{{ item.useGoogleCloud }}" data-type="auto" data-mode="{{ item.id }}" href="#">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    <div class="btn-group">
        <input style="width: 74px;"  id="print" data-back="false" data-type="invoice" data-mode="{{ invoice.template.id }}" data-cloud="" class="btn btn-primary" type="button" name="action" value="Ispis" />
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="width: auto;" type="button" name="action" value=""><span class="caret"></span></button>
        <ul id="invoice-templates" class="dropdown-menu" role="menu">
            {% if(invoice.template) %}
            <li><a data-back="false" data-cloud="" data-type="invoice" data-mode="{{ invoice.template.id }}" href="#">Ispis računa</a></li>
            {% endif %}
            {% if(invoice.tenderTemplate) %}
            <li><a data-back="false" data-cloud="" data-type="tender" data-mode="{{ invoice.template.id }}" href="#">Ispis ponude</a></li>
            {% endif %}
            <!-- <li><a data-back="false" data-cloud="1" data-mode="{{ invoice.template.id }}" href="#">Google Cloud Print</a></li> -->
        </ul>
    </div>
{% endif %}
<a class="btn btn-primary" href="{{ path('cancel_invoice', {'id': invoice.id, 'back': app.request.get('back')}) }}">{{ 'Odustani'|trans }}</a>