{% extends '::base.html.twig' %}

{% block header %}
    <script src="http://www.google.com/cloudprint/client/cpgadget.js"></script>
    <style type="text/css">
	.ui-menu 
	    { position: absolute; width: 200px; margin-top: 10px; }
    </style>
{% endblock %}

{% block page_title %}<span class="pro3x_small_icon pro3x_small_icon_invoice_add"></span>{% if invoice.sequence is null  %}{{ 'Novi Račun'|trans|title }}{% else %}{{ 'Račun'|trans|title }} {{ invoice.sequence }}{% endif %} | 
    <a href="{{ path('edit_position', {'id': invoice.position.id, 'back': app.request.uri}) }}">{{ invoice.position.location.name }} {{ invoice.position.name }}</a>
    {% if invoice.customer %} | <a href="{{ path('edit_client', {'id': invoice.customer.id, 'back': app.request.uri}) }}">{{ invoice.customer.name }}</a> {% endif %}
{% endblock %}

{% block body %}
    <div class="grid_12" style="margin-bottom: 1em;">
	
	{% include '::message.html.twig' %}
	<form action="">
	    <table class="ui-widget-content ui-corner-all pro3x">
		<thead>
		    <tr>
			    <th class="ui-widget-header ui-corner-all" style="width: 350px;">{{ 'Naziv artikla'|trans }}</th>
			    <th class="ui-widget-header ui-corner-all">{{ 'Jedinična cijena'|trans }}</th>
			    <th class="ui-widget-header ui-corner-all">{{ 'Količina'|trans }}</th>
			    <th class="ui-widget-header ui-corner-all">{{ 'Osnovica'|trans }}</th>
			    <th class="ui-widget-header ui-corner-all">{{ 'Popust'|trans }}</th>
			    <th class="ui-widget-header ui-corner-all">{{ 'Ukupno'|trans }}</th>
		    </tr>
		</thead>

		<tbody>
		{% for item in invoice.items %}
			{% include 'Pro3xInvoiceBundle:Invoice:addItem.html.twig' with {'item': item} %}
		{% else %}
		    <tr>		    
			<td colspan="100" class="pro3x_no_data">{{ 'Upišite barkod ili šifru artikla i kliknite enter ili gumb Dodaj'|trans }}</td>
		    </tr>
		{% endfor %}
		</tbody>
	    </table>
	</form>
    </div>

    <div class="container_12">
	<div class="grid_9">
	    <form action="{{ path('add_invoice_item') }}">
		{% if invoice.sequence == null %}
		    <input type="text" id="actionCode" style="width: 218px; padding: 4px; line-height: 16px;" placeholder="Barkod ili šifra artikla" name="code" />
		    <input type="hidden" name="invoice" value="{{ invoice.id }}" />
		    <input  id="addProduct" class="button" type="button" name="action" value="Dodaj" />
		    <input type="button" class="button link" data-href="{{ path('change_invoice_customer', {'id': invoice.id, 'back': app.request.uri}) }}" value="{{ 'Kupac'|trans }}" />
		    <div style="display: inline-block; margin-right: 2px;">
			<input  id="print" data-mode="{{ invoice.position.location.templates[0].id }}" data-cloud="{{ invoice.position.location.templates[0].useGoogleCloud }}" class="button" type="button" name="action" value="Ispis" />
			<button  id="select" class="button" type="button" name="action" value="">Odabir akcije</button>
		    </div>
		    <ul id="invoice-templates">
			{% for item in invoice.position.location.templates %}
			    <li><a data-cloud="{{ item.useGoogleCloud }}" data-mode="{{ item.id }}" href="#">{{ item.name }}</a></li>
			{% endfor %}
		    </ul>
		{% else %}
		    <input  id="print" data-mode="{{ invoice.template.id }}" data-cloud="" class="button" type="button" name="action" value="Ispis" />
		{% endif %}
		<input type="button" class="button link" data-href="{{ path('cancel_invoice', {'id': invoice.id, 'back': app.request.get('back')}) }}" value="{{ 'Odustani'|trans }}" />
	    </form>
	</div>
	<div class="grid_1">
	    <div style="padding-top: .4em; margin-top: 2px; border-top: solid 1px transparent;">{{ 'Ukupno:'|trans }}</div>
	</div>
	<div class="grid_2">
	    <div class="pro3x_invoice_total">{{ total }}</div>
	</div>
    </div>

{% endblock %}

{% block javascripts %}

    //invoice template selection
    $( "#select")
	.button({
	    text: false,
	    icons: {
		primary: "ui-icon-triangle-1-s"
	    }
	})
	.click(function() {
	    var menu = $( this ).parent().next().show().position({
		my: "left top",
		at: "left-58 bottom+2",
		of: this
	    });
	    $( document ).one( "click", function() {
		menu.hide();
	    });
	    return false;
	})
	.parent()
	    .buttonset()
	    .next()
		.hide()
		.menu();
    		
    $('#print, ul#invoice-templates a').click(function(event) {
	event.preventDefault();
	
	var me = $(this);
	
	if(me.data('cloud') == true) {
	    $.post('{{ url('print_invoice', {'id': invoice.id}) }}', {mode: $(this).data('mode')}, function(data){
		var gadget = new cloudprint.Gadget();
		gadget.setPrintDocument("text/html", "Invoice {{ invoice.id }}", data, "base64");
		gadget.setOnCloseCallback(function(data) { window.location = '{{ path('add_invoice', {'back': app.request.get('back')}) }}'; });
		gadget.openPrintDialog();

	    }, 'text');
	}
	else {
	    window.location = '{{ path('print_invoice', {'id': invoice.id, 'back': app.request.get('back')}) }}' + '&print=false&mode=' + me.data('mode');
	}
	
    });
    
    function addItem(form) {
	$('#actionCode').addClass('ajax');
    
	$.get(form.attr('action'), form.serialize(), function(data) {
	    $('tbody').append($(data.item));
	    $('tbody .pro3x_no_data').parents('tr').remove();
	    $('.pro3x_invoice_total').text(data.total);
	    $("html, body").animate({ scrollTop: $(document).height() - $(window).height() });
	    $('#actionCode').removeClass('ajax');
	}, 'json');
    }

    $('#addProduct').click(function() {
	var form = $(this).parent();
	addItem(form);
    });
    
    $('#actionCode').keypress(function(e) {
	var code = (e.keyCode ? e.keyCode : e.which);
	if(code == 13) { //Enter keycode
	  addItem($(this).parent());
	  e.preventDefault();
	  
	  $(this).val('').focus();
	}
    });
    
    $('tbody').on('click', '.pro3x_delete_invoice_item', function(event) { 
    
	var link = $(this);
	event.preventDefault();
	
	var ajax = $('<span class="pro3x_ajax"></span>');
	link.replaceWith(ajax);
	
	$.post(link.attr('href'), null, function (data) {
	    ajax.parents('tr').remove();
	    $('.pro3x_invoice_total').text(data.total);

	    if($('tbody td').size() == 0) {
		$('tbody').append($('<tr><td colspan="100" class="pro3x_no_data">{{ 'Upišite barkod ili šifru artikla i kliknite enter ili gumb Dodaj'|trans }}</td></tr>'));
	    }
	}, 'json');
    });
{% endblock %}