<div class="pro3x-document report"></div>

<div class="pro3x-document report-template">

    <div class="report-page-header">
        <div style="padding-top: 10mm; padding-left: 10mm;">
            {% if invoice.position.location.logo %}
                <img src="{{ invoice.position.location.logo }}" />
            {% endif %}
        </div>

        <div style="text-align: right; font-size: 12px; font-weight: 300; padding-right: 10mm;">
            <div>{{ invoice.position.location.companyName }}</div>
            <div>{{ invoice.position.location.address }}</div>
            <div>{{ invoice.position.location.other }}</div>
        </div>

        <div class="clearfix"></div>

        <h1 class="pro3x"><span class="pro3x-report-title">{{ invoice.template.description|upper }}</span><small class="pro3x-report-subtitle"><span class="report-page-number"></span> / <span class="report-page-count"></span></small></h1>
        <div class="clearfix"></div>


        <div style="background-color: {{ background }} !important; padding: 4.5mm 5mm; width: 200mm; margin-left: 5mm;">
            <div style="width: 85mm; float: left;">
                <div><span class="pro3x-name">Oznaka</span>{{ invoice.sequence }} - {{ invoice.position.location.name }} - {{ (invoice.position.name)?invoice.position.name:invoice.position.id }}</div>
                <div><span class="pro3x-name">Datum</span>{{ invoice.dateFormated }}</div>
                <div><span class="pro3x-name">Vrijeme</span>{{ invoice.timeFormated }}h</div>

                {% if invoice.template.dueDays %}
                    <div><span class="pro3x-name">Rok plaćanja</span>{{ invoice.created|date_modify(invoice.template.dueDays)|date('d.m.Y') }}</div>
                {% else %}
                    <div><span class="pro3x-name">Ukupno</span>{{ invoice.totalFormated }}kn</div>
                {% endif %}
            </div>

            {% if invoice.customer %}    
                <div style="float: right; width: 100mm;">
                    <div class="pro3x-value"><span class="pro3x-name">Kupac</span>{{ invoice.customer.name }}</div>
                    <div class="pro3x-value"><span class="pro3x-name">Adresa</span>{{ invoice.customer.address }}</div>
                    <div class="pro3x-value"><span class="pro3x-name">Lokacija</span>{{ invoice.customer.location }}</div>
                    <div class="pro3x-value"><span class="pro3x-name">OIB</span>{% if invoice.customer.taxNumber %}{{ invoice.customer.taxNumber }}{% endif %}</div>
                </div>
            {% endif %}  

            <div class="clearfix"></div>
        </div>
    </div>
        
    <div class="report-content">
        <div class="panel panel-default" style="width: 200mm; margin: 5mm 5mm 5mm 5mm;">
        <table class="table">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th style="text-align: right;">Cijena</th>
                    <th style="text-align: right;">Količina</th>
                    <th style="text-align: right;">Osnovica</th>
                    <th style="text-align: right;">Popust</th>
                    <th style="text-align: right;">Ukupno</th>
                </tr>
            </thead>
            <tbody>
            {% for  item in invoice.items %}
                    <tr class="report-item">
                        <td>
                            <span class="pro3x-index pull-left">{{ loop.index }}.</span>
                            <div style="margin-left: 7mm;">{{ item.description|raw }}</div>
                        </td>
                        <td style="text-align: right;">{{ item.taxedPriceFormated }}</td>
                        <td style="text-align: right;"> {{ item.amount }}<span style="display: inline-block; width: 10mm; text-align: right;">{{ item.unit }}</span></td>
                        <td style="text-align: right;">{{ item.totalTaxedPriceFormated }}</td>
                        <td style="text-align: right;">{{ item.discountFormated }} %</td>
                        <td style="text-align: right;">{{ item.discountPriceFormated }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="clearfix"></div>
    </div>
            
    <div class="report-content-footer">
        <div style="text-align: right; margin-top: 0mm;">
            <h3 style="margin: 0mm 10mm 0mm 0mm; font-weight: 300;">Ukupno: {{ invoice.totalFormated }}kn</h3>
        </div>

        <div style="clear: both;"></div>

        {% if invoice.taxItems %}
        <table class="pro3x">
            <thead>
                <tr>
                    <th style="padding-left: 0mm;">Porez</th>
                    <th style="text-align: right;">Stopa</th>
                    <th style="text-align: right;">Osnovica</th>
                    <th style="text-align: right;">Iznos</th>
                </tr>
            </thead>
            <tbody>
            {% for  item in invoice.taxItems %}
                    <tr>
                        <td style="padding-left: 0;">
                            <span style="display: inline-block; width: 5mm; text-align: right; margin-right: 5mm;">{{ loop.index }}.</span>{{ item.description }}
                        </td>
                        <td style="text-align: right;">{{ item.rate }} %</td>
                        <td style="text-align: right;">{{ item.base }}</td>
                        <td style="text-align: right;">{{ item.amount }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <div style="margin-top: 5mm; margin-left: 10mm;">
            <div>Način plaćanja: {{invoice.template.paymentMethod}}</div>
            <div>Operater:  {{ invoice.user.displayName }}</div>
        </div>

        <div style="margin-top: 5mm; margin-left: 10mm;">
            {% if invoice.companySecureCode %}
                {% if invoice.originalInvoiceNumber %}
                    <div style="margin-bottom: 5mm;">BR: {{ invoice.originalInvoiceNumber }}</div>
                {% endif %}

                <div>JIR: {{ invoice.uniqueInvoiceNumber?invoice.uniqueInvoiceNumber:'Trenutno nedostupan' }}</div>
                <div>ZKI: {{ invoice.companySecureCode }}</div>
            {% endif %}
        </div>
        
        {% if invoice.note %}
        <div style="margin-top: 5mm; margin-left: 10mm;">
            {{ invoice.note|raw }}
        </div>    
        {% endif %}

        <div id="qrcode" data-code="https://porezna.gov.hr/rn/?zki={{invoice.companySecureCode}}&datv={{ invoice.fiscalDateTimeFormated }}&izn={{ invoice.fiscalTotalFormated }}">

        </div>
    </div>
        
    <div class="pro3x-footer report-page-footer" style="background-color: {{ background }} !important;">
        <div>{{ invoice.position.location.note1 }}</div>
        <div>{{ invoice.position.location.note2 }}</div>
    </div>
</div>

