<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ 'Pro3x Online'|trans }}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('styles/print.css') }}" />
	<script src="{{ asset('bundles/pro3xjqueryui/js/jquery-1.8.2.js') }}"></script>
	<script src="{{ asset('bundles/pro3xjqueryui/js/jquery-ui-1.9.1.custom.js') }}"></script>
	<style type="text/css">
		
	    @import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");

	    @page 
		{ margin: 0mm 15mm 0mm 15mm; size: A4; }
	
	    @media print
		{ 
		    .close,
		    .sf-toolbarreset 
			{ display: none; }
		
		    body
			{ padding-top: 0px; }
		}
	
	    .close
		{ position: fixed; left: 0px; width: 100%; top: 0px; text-align: right; background-color: black; border-bottom: solid 5px #4297d7; }

	    .close a
		{ color: white; text-decoration: none; }
		
	    .close a:hover
		{ color: #99cc00; }

	    body 
		{ font-size: 75%; font-family: 'Ubuntu', sans-serif; padding: 0mm; padding-top: 0px; }

	    th
		{ text-align: left; padding-left: 5mm; }

	    td
		{ padding-left: 5mm; }

	    @media screen
		{ 
		    body 
			{ padding-top: 30px; } 
		}

	</style>
    </head>
    <body>
	<div class="close"><div style="padding: 0.75em 1em 0.75em 1em; border-bottom: solid 1px #f2f2f2;"><a style="float: left;" href="javascript: window.print();">Ispis računa</a>
		<a href="{{ app.request.get('back') }}">Zatvori</a></div></div>
	
	<div style="width: 210mm; height: 305mm; margin: 0mm auto;" style="cursor: pointer;" title="Klikni bilo gdje za ispis računa" onclick="window.print();">
	    <div class="header" style="border-bottom: solid 0.5mm black; padding-bottom: 5mm; margin-bottom: 15mm; margin-top: 15mm;">
		{{ logo|raw }} {{ company|raw }}
		<div style="clear: both"></div>
	    </div>

	    {% if invoice.customer %}    
		<div style="background-color: #efefef; padding: 5mm; border: solid 0.5mm black; float: right; width: 100mm; height: 19mm;">
		    <div>{{ invoice.customer.name }}</div>
		    <div>{{ invoice.customer.address }}</div>
		    <div>{{ invoice.customer.location }}</div>
		    <div style="margin-top: 2mm;">{% if invoice.customer.taxNumber %}OIB: {{ invoice.customer.taxNumber }}{% endif %}</div>
		</div>
	    {% endif %}    

	    <h1 style="margin-bottom: 0px; padding-top: 4.5mm;">Račun: {{ invoice.sequence }} / {{ invoice.position.location.name }} / {{ (invoice.position.name)?invoice.position.name:invoice.position.id }}</h1>
	    <div style="">
		<div style="margin-top: 3.75mm;">Datum: {{ invoice.dateFormated }} | {{ invoice.timeFormated }}h</div>
	    </div>

	    <div style="clear: both"></div>
	    <table style="width: 100%; margin-top: 15mm; border-spacing: 0px;">
		<thead>
		    <tr>
			<th style="padding-left: 0mm;">Naziv proizvoda ili usluge</th>
			<th style="text-align: right;">Cijena</th>
			<th style="text-align: right;">Količina</th>
			<th style="text-align: right;">Osnovica</th>
			<th style="text-align: right;">Popust</th>
			<th style="text-align: right;">Ukupno</th>
		    </tr>
		</thead>
		<tbody>
		{% for  item in invoice.items %}
			<tr>
			    <td style="padding-left: 0;"><span style="display: inline-block; width: 5mm; text-align: right; margin-right: 5mm;">{{ loop.index }}.</span>{{ item.description }}</td>
			    <td style="text-align: right;">{{ item.taxedPriceFormated }}</td>
			    <td style="text-align: right;"> {{ item.amount }}<span style="display: inline-block; width: 10mm; text-align: right;">{{ item.unit }}</span></td>
			    <td style="text-align: right;">{{ item.totalTaxedPriceFormated }}</td>
			    <td style="text-align: right;">{{ item.discountFormated }} %</td>
			    <td style="text-align: right;">{{ item.discountPriceFormated }}</td>
			</tr>
		{% endfor %}
		</tbody>
	    </table>
	    <div style="text-align: right; border-top: solid 0.5mm transparent; margin-top: 0mm;">
		<h2 style="margin: 10mm 0mm 10mm 0mm;">Ukupno za platiti: {{ invoice.totalFormated }} kn</h2>
	    </div>

	    <div style="clear: both;"></div>
	    
	    {% if invoice.taxItems %}
	    <table style="margin-top: 10mm; border-spacing: 0px;">
		<thead>
		    <tr>
			<th style="padding-left: 0mm;">Vrsta poreza</th>
			<th style="text-align: right;">Stopa</th>
			<th style="text-align: right;">Osnovica</th>
			<th style="text-align: right;">Iznos</th>
		    </tr>
		</thead>
		<tbody>
		{% for  item in invoice.taxItems %}
			<tr>
			    <td style="padding-left: 0;"><span style="display: inline-block; width: 5mm; text-align: right; margin-right: 5mm;">{{ loop.index }}.</span>{{ item.description }}</td>
			    <td style="text-align: right;">{{ item.rate }} %</td>
			    <td style="text-align: right;">{{ item.base }}</td>
			    <td style="text-align: right;">{{ item.amount }}</td>
			</tr>
		{% endfor %}
		</tbody>
	    </table>
	    {% endif %}
	    
	    <div style="margin-top: 10mm;">Način plaćanja: Gotovina</div>
	    <div>Operater:  {{ invoice.user.displayName }}</div>
	    
	</div>
	<div style="text-align: center; border-top: solid 0.5mm black; font-size: 7pt;">
	    Socijalna Samoposluga, Žabica 4, 51000 Rijeka | Siromaštvo nije izbor, pomaganje jest! | 
	    https://www.facebook.com/socijalna.samoposluga
	</div>
    </body>
</html>
