{% extends '::form.html.twig' %}

{% block page_title %}
    {% if mode == 'edit' %}
        <img src="{{ asset('icons/small/user.png') }}" />
        {{ 'Izmjena korisnika'|trans|capitalize }}
    {% else %}
        <img src="{{ asset('icons/small/user_add.png') }}" />
        {{ 'Novi korisnik'|trans|capitalize }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-md-6 col-md-offset-3">
        <form method="post" class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'Osnovna svojstva'|trans|capitalize }}</div>
                <div id="info">
                    <div class="panel-body pro3x-panel-form">

                        <div class="form-group">
                            {{ form_label(form.position, form.position.vars.label, {'label_attr': {'class': 'control-label col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        

                        <div class="form-group">
                            {{ form_label(form.displayName, form.displayName.vars.label, {'label_attr': {'class': 'control-label col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.displayName, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.email, form.email.vars.label, {'label_attr': {'class': 'control-label col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.oib, form.oib.vars.label, {'label_attr': {'class': 'control-label col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.oib, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>
                            
            <input type="password" style="display: none" />
                            
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'Sigurnosne postavke'|trans|capitalize }}</div>
                <div class="panel-body pro3x-panel-form">
                    
                    <div class="form-group">
                        {{ form_label(form.username, form.username.vars.label, {'label_attr': {'class': 'control-label col-md-4'}}) }}
                        <div class="col-md-8">
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    {% for item in form.password.children %}
                    <div class="form-group">
                        {{ form_label(item, item.vars.label, {'label_attr': {'class': 'control-label col-md-4'}}) }}
                        <div class="col-md-8">
                            {{ form_widget(item, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}
                    
                    <div class="form-group">
                        {{ form_label(form.active, form.active.vars.label, {'label_attr': {'class': 'control-label col-md-4'}}) }}
                        <div class="col-md-8">
                            {{ form_widget(form.active, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                </div>
            </div>
                        
            <div class="panel panel-default hide">
                <div class="panel-heading">{{ 'Nova zaporka'|trans|capitalize }}</div>
                <div class="panel-body pro3x-panel-form">
                    
                </div>
            </div>
                        
            <div class="pro3x-buttons">
                <input type="submit" class="btn btn-primary" value="{{ 'Spremi'|trans }}" />
                <a class="btn btn-primary" href="{{ app.request.get('back') }}">{{ 'Odustani'|trans }}</a>
            </div>
            
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}