<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Pro3x Online{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/pro3xjqueryui/css/redmond/jquery-ui-1.9.1.custom.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('styles/super.css') }}" />
	<script src="{{ asset('bundles/pro3xjqueryui/js/jquery-1.8.2.js') }}"></script>
	<script src="{{ asset('bundles/pro3xjqueryui/js/jquery-ui-1.9.1.custom.js') }}"></script>
    </head>
    <body>
	{% block head %}
	    <div class="pro3x_header">
		<a href="{{ path('home') }}">Pro3x Online</a>
	    </div>
	{% endblock %}
	    
	<div class="pro3x_line">
	    
	</div>
	    
	<div class="container_12 pro3x_content">
	    <div class="grid_12"><h1>{% block page_title %}{% endblock %}</h1></div>
	    {% block body %}{% endblock %}
	    <div class="clear"></div>
	</div>

	<script>
	    jQuery(document).ready(function($) {
		{% block javascripts %}{% endblock %}
		
		$('.pro3x_tabs').tabs();
		$('.button').button();
		
		$('.pro3x_pager_previous').click(function() {
		    var scroll = $(this).next();
		    var items = scroll.find('.pro3x_pager_items');

		    if(Math.abs(parseInt(items.css('marginLeft'))) > scroll.width() / 1.5) {
			items.animate({marginLeft: '+=' + scroll.width() / 1.5});
		    }
		    else {
			items.animate({marginLeft: 0});		    
		    }
		});
		
		$('.pro3x_pager_next').click(function() {
		    var scroll = $(this).prev();
		    var items = scroll.find('.pro3x_pager_items');

		    if(Math.abs(parseInt(items.css('marginLeft'))) < items.width() - scroll.width() / 0.5) {
			items.animate({marginLeft: '-=' + scroll.width() / 1.5});
		    }
		    else if(items.width() > scroll.width() - 10) {
			items.animate({marginLeft: - items.width() + scroll.width() - 10});
		    }
		});

		$('.pro3x_pager_scroll').each(function() {
		    var scroll = $(this);
		    var items = scroll.find('.pro3x_pager_items');
		    var current = items.find('.pro3x_current_page');
		    
		    var left = current.position().left;
		    
		    if(items.width() > scroll.width() && left > items.width() - scroll.width() / 2) {
			items.animate({marginLeft: - items.width() + scroll.width() - 10});
		    }
		    else if(left > scroll.width() / 2) {
			items.animate({marginLeft: - left + (scroll.width() - current.width()) / 2});
		    }
		});
		
		$('.pro3x_confirm').click(function(event) {
		    
		    event.preventDefault();
		    var item = $(this);
		    
		    $(".pro3x_dialog" ).html(item.data('msg')).data('href', item.attr('href')).dialog({
			resizable: false,
			width: 400,
			height:200,
			modal: true,
			buttons: {
			    "Potvrdi": function() {
				window.location = $(this).data('href');
			    },
			    "Odustani": function() {
				$( this ).dialog( "close" );
			    }
			}
		    });
		});
	    });
	</script>
        
    </body>
</html>
