{% extends '::form.html.twig' %}

{% block page_title %}<img src="{{ asset("icons/small/#{icon}.png") }}" />{{ title|trans|capitalize }}{% endblock %}

{% block body %}
    <div class="col-md-6 col-md-offset-3">
        <form method="post" class="form-horizontal" role="form">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'Osnovna svojstva'|trans }}</div>
                <div class="panel-body pro3x-panel-form">

                    {% for child in form.children %}
                        {% if child.vars.label %}
                            <div class="form-group">
                                {{ form_label(child, child.vars.label, {'label_attr': {'class': 'control-label col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(child, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if extensionTemplate is defined %}{% include extensionTemplate with params %}{% endif %}
                    {{ form_rest(form) }}
                </div>
            </div>

            <div class="pro3x-buttons">
                <input type="submit" class="btn btn-primary" value="{{ 'Spremi'|trans }}" />
                <a class="btn btn-primary" href="{{ app.request.get('back') }}">{{ 'Odustani'|trans }}</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}