<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <title>{% block title %}{{ 'Pro3x Online'|trans }}{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="{{ asset('style.css') }}" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
	<nav class="navbar navbar-inverse navbar-static-top pro3x-main-menu" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="{{ path('dashboard') }}"><span class="glyphicon glyphicon-home"></span> {{ 'Pro3x Online Dashboard'|trans }}</a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="visible-xs"><a href="http://www.pro3x.com">Pro3x Community</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	    
	<div class="container">
            <div class="row">
	    <div class="col-md-6 col-md-offset-3"><h1 class="pro3x-title"><img src="{{ asset('icons/small/authentication.png') }}" /><span class="hidden-xs">Pro3x Online </span>Dashboard</h1></div>
	    {% block body %}{% endblock %}
	    <div class="clear"></div>
            </div>
	</div>

	<script>
	    jQuery(document).ready(function($) {
		{% block javascripts %}{% endblock %}
		{% include '::scripts.html.twig' %}
	    });
	</script>
        
    </body>
</html>
