<div class="col-md-6" style="text-align: right;">
    
    {% if page < 1 %}{% set page = 1 %}{% endif %}
    
    {% set min = page -1 - ((page - 1) % 10) %}
    {% set max = min + 11 %}
    
    {% if max > count %}{% set max = count + 1 %}{% endif %}

    <ul class="pagination pro3x-pagination">
        {% for index in range(min, max) %}
            {% if index > 0 and index <= count %}
                {% set disable = false %}
            {% else %}
                {% set disable = true %}
            {% endif %}
            
            {% if index == page %}
                {% set current = true %}
            {% else %}
                {% set current = false %}
            {% endif %}
            
            <li class="{{ disable?'disabled':(current?'active':'') }}">
                {% if index == min %}
                    {% set desc = '&laquo;' %}
                {% elseif index == max %}
                    {% set desc = '&raquo;' %}
                {% else %}
                    {% set desc = index %}
                {% endif %}
                
                {% if disable %}
                    <a href="#">{{ desc|raw }}</a>
                {% else %}
                    {% if pagerParams is defined %}
                        <a href="{{ path(app.request.attributes.get('_route'), pagerParams|merge({'page': index, 'back': app.request.get('back')})) }}">
                            {{ desc|raw }}
                        </a>
                    {% else %}
                        <a href="{{ path(app.request.attributes.get('_route'), {'page': index, 'back': app.request.get('back')}) }}">
                            {{ desc|raw }}
                        </a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>