{% extends '::base.html.twig' %}

{% block page_title %}
    <img src="{{ asset("icons/small/#{icon}.png") }}" />{{ title|trans|capitalize }}{% if titleExtraTemplate %}{% include titleExtraTemplate with titleExtraParams %}{% endif %}{% endblock %}

{% block body %}
    <div class="col-md-12">
	
	{% include '::message.html.twig' %}
        
        <div class="panel panel-default pro3x-table-panel">
	<table class="table table-striped table-hover table-bordered">
	    <thead>
		<tr>
		    {% for column in columns %}
		    <th class="ui-widget-header ui-corner-all" style="{% if column.width > 0 %}width: {{ column.width }}px;{% endif %}">
                        {{ column.label|trans|capitalize }}
		    </th>
		    {% endfor %}
		    <th class="ui-widget-header ui-corner-all" style="width: {{ toolsWidth }}px;">{{ 'Alati'|trans }}</th>
		</tr>
	    </thead>
	    <tbody>
		{% if search == true and noSelection == true %}
		    <tr class="pro3x_no_selection">
			{% for column in columns %}
			    <td {% if column.textAlign %} style="text-align: {{ column.textAlign }};" {% endif %}>- - -</td>
			{% endfor %}
			<td class="pro3x_tools"><a href="{{ path(app.request.get('_route'), pagerParams|merge({(selectParam): 'empty', 'back': app.request.get('back')})) }}">{{ 'odaberi'|trans }}</a></td>
		    </tr>
		{% endif %}
		{% for item in items %}
		    <tr>
			{% for column in columns %}
			<td {% if column.textAlign %} style="text-align: {{ column.textAlign }};" {% endif %}>
			    {% if column.template %}
				{% include column.template with {'item': item} %}
			    {% elseif column.translate %}
				{{ attribute(item, column.name)|trans }}
			    {% else %}
				{{ attribute(item, column.name) }}
			    {% endif %}
			</td>
			{% endfor %}
			<td class="pro3x-tools">
			    {% if toolsTemplate %}
				{% include toolsTemplate with {'item': item} %}
			    {% elseif search == true %}
				<a href="{{ path(app.request.get('_route'), pagerParams|merge({(selectParam): attribute(item, selectColumn), 'back': app.request.get('back')})) }}">{{ 'odaberi'|trans }}</a>
			    {% else %}
				<a href="{{ path(editRoute, {'id': item.id, 'back': app.request.uri }) }}">{{ 'izmjeni'|trans }}</a>
				<a class="pro3x-confirm" data-icon="pro3x_icon_{{ icon }}_delete" 
				   data-msg="{{ 'Jeste li sigurni da želite izbrisati %type% <b>%description%</b>?'|trans({'%type%': type|trans, '%description%': attribute(item, deleteColumn) }) }}" 
				   href="{{ path(deleteRoute, {'id': item.id, 'back': app.request.uri}) }}">
                                    {{ 'izbriši'|trans }}
                                </a>
			    {% endif %}
			</td>
		    </tr>
		{% else %}
		    {% if search == false or noSelection == false %}
			<tr>
			    <td class="pro3x_no_data" colspan="100">Nema rezultata</td>
			</tr>
		    {% endif %}
		{% endfor %}
	    </tbody>
	</table>
        </div>
    </div>

    <div class="col-md-6">
	<div class="pro3x-table-buttons" style="margin-top: 0.6em;">
	    {% if search == true %}
		<form method="post" style="float: left;">
		    <input type="hidden" name="back" value="{{ app.request.get('back') }}" />
		    <input type="text" placeholder="{{ placeholder }}" style="width: 218px; padding: 4px;" name="query" value="{{ app.request.get('query') }}" />
		    <input type="submit" class="button" value="{{ 'Traži'|trans }}" />
		</form>
	    {% endif %}
            <a href="{{ path(route, {'back': app.request.uri}) }}" class="btn btn-primary">{{ 'Dodaj'|trans }}</a>
            {% if app.request.get('back') %}
                <a href="{{ app.request.get('back') }}" class="btn btn-primary">{{ 'Odustani'|trans }}</a>
            {% else %}
                <a href="{{ path('dashboard') }}" class="btn btn-primary">{{ 'Dashboard'|trans }}</a>
            {% endif %}
	</div>
    </div>

    {% if pager %}{% include '::pager.html.twig' %}{% endif %}
    
    {% include '::dialog.html.twig' %}

{% endblock %}

{% block javascripts %}{% endblock %}
