{% extends '::base.html.twig' %}

{% block page_title %}<span class="pro3x_small_icon pro3x_small_icon_{{ icon }}"></span>{{ title|trans|title }}{% endblock %}

{% block body %}
    <div class="grid_12">
	
	{% include '::message.html.twig' %}
	
	<table class="ui-widget-content ui-corner-all pro3x">
	    <thead>
		<tr>
		    {% for column in columns %}
		    <th class="ui-widget-header ui-corner-all" style="{% if column.width > 0 %}width: 300px;{% endif %}">
			{{ column.label|trans|title }}
		    </th>
		    {% endfor %}
		    <th class="ui-widget-header ui-corner-all" style="width: 200px;">{{ 'Alati'|trans }}</th>
		</tr>
	    </thead>
	    <tbody>
		{% if search == true and noSelection == true %}
		    <tr class="pro3x_no_selection">
			{% for column in columns %}
			    <td {% if column.textAlign %} style="text-align: {{ column.textAlign }};" {% endif %}>- - -</td>
			{% endfor %}
			<td class="pro3x_tools"><a href="{{ path(app.request.get('_route'), pagerParams|merge({(selectParam): 'empty', 'back': app.request.get('back')})) }}">{{ 'odaberi'|trans }}</a></td>
		    </tr>
		{% endif %}
		{% for item in items %}
		    <tr>
			{% for column in columns %}
			<td {% if column.textAlign %} style="text-align: {{ column.textAlign }};" {% endif %}>
			    {% if column.translate %}
				{{ attribute(item, column.name)|trans }}
			    {% else %}
				{{ attribute(item, column.name) }}
			    {% endif %}
			</td>
			{% endfor %}
			<td class="pro3x_tools">
			    {% if search == true %}
				<a href="{{ path(app.request.get('_route'), pagerParams|merge({(selectParam): attribute(item, selectColumn), 'back': app.request.get('back')})) }}">{{ 'odaberi'|trans }}</a>
			    {% else %}
				<a href="{{ path(editRoute, {'id': item.id, 'back': app.request.uri }) }}">{{ 'izmjeni'|trans }}</a>
				<a class="pro3x_confirm" data-icon="pro3x_icon_{{ icon }}_delete" 
				   data-msg="{{ 'Jeste li sigurni da želite izbrisati %type% <b>%description%</b>?'|trans({'%type%': type|trans, '%description%': attribute(item, deleteColumn) }) }}" 
				   href="{{ path(deleteRoute, {'id': item.id, 'back': app.request.uri}) }}">{{ 'izbriši'|trans }}</a>
			    {% endif %}
			</td>
		    </tr>
		{% else %}
		    {% if search == false or noSelection == false %}
			<tr>
			    <td class="pro3x_no_data" colspan="100">Nema rezultata</td>
			</tr>
		    {% endif %}
		{% endfor %}
	    </tbody>
	</table>
    </div>

    <div class="grid_8">
	<div class="pro3x_table_buttons" style="margin-top: 0.6em;">
	    {% if search == true %}
		<form method="post" style="float: left;">
		    <input type="hidden" name="back" value="{{ app.request.get('back') }}" />
		    <input type="text" placeholder="{{ placeholder }}" style="width: 218px; padding: 4px;" name="query" value="{{ app.request.get('query') }}" />
		    <input type="submit" class="button" value="{{ 'Traži'|trans }}" />
		</form>
	    {% endif %}
	    <input type="button" data-href="{{ path(route, {'back': app.request.uri}) }}" class="button link" value="{{ 'Dodaj'|trans }}" />{% if app.request.get('back') %}<input type="button" data-href="{{ app.request.get('back') }}" class="button link" value="{{ 'Odustani'|trans }}" />{% else %}<input type="button" data-href="{{ path('dashboard') }}" class="button link" value="{{ 'Dashboard'|trans }}" />{% endif %}
	</div>
    </div>

    {% if pager %}{% include '::pager.html.twig' %}{% endif %}
    <div class="pro3x_dialog" title="{{ 'Upozorenje!'|trans }}"></div>

{% endblock %}

{% block javascripts %}{% endblock %}