{% extends '::form.html.twig' %}

{% block page_title %}<span class="pro3x_small_icon {{ cssClass }}"></span>{{ title|trans|title }}{% endblock %}

{% block body %}
    <div class="grid_8 push_2">
	<form method="post" {{ form_enctype(form) }}>
	    <div class="pro3x_tabs">
		<ul>
		    <li><a href="#info">{{ 'Informacije'|trans }}</a></li>
		    
		    {% if is_granted('ROLE_USER_DETAILS') %}
		    <li><a href="#avatar">{{ 'Avatar'|trans }}</a></li>
		    <li><a href="#accomodation">{{ 'Smještaj'|trans }}</a></li>
		    <li><a href="#messages">{{ 'Poruke'|trans }}</a></li>
		    {% endif %}
		</ul>
		<div id="info">
		    <div class="pro3x_form_content">
			
			{{ form_row(form.name) }}
			{{ form_row(form.address) }}
			{{ form_row(form.location) }}
			{{ form_row(form.taxNumber) }}
			{{ form_row(form.phone) }}
			{{ form_row(form.cellPhone) }}
			{{ form_row(form.email) }}
			{{ form_row(form.birthday) }}
			
			<div class="pro3x_buttons">
			    <input type="submit" class="button" value="{{ 'Spremi'|trans }}" />
			    <input type="button" class="button link" data-href="{{ app.request.get('back') }}" value="{{ 'Odustani'|trans }}" />
			</div>

		    </div>
		</div>

		{% if is_granted('ROLE_USER_DETAILS') %}
		<div id="avatar">
		    <div class="pro3x_form_content">
			
			{% if avatar %}
			    <img class="pro3x_avatar" src="{{ avatar }}" />
			{% else %}
			    <img class="pro3x_avatar" src="{{ asset('no-avatar.png') }}" />
			{% endif %}
			<div class="pro3x_upload_form">
			    {{ form_row(form.file) }}

			    <div class="pro3x_buttons">
				<input type="submit" class="button" value="{{ 'Spremi'|trans }}" />
				<input type="button" class="button link" data-href="{{ app.request.get('back') }}" value="{{ 'Odustani'|trans }}" />
			    </div>
			</div>
		    </div>
		</div>
		    
		<div id="accomodation">
		    <div class="pro3x_form_content">
			{{ form_row(form.accomodation) }}
			{{ form_row(form.otherAccomodation) }}
			{{ form_row(form.ownership) }}
			{{ form_row(form.otherOwnership) }}
			    
			<div class="pro3x_buttons">
			    <input type="submit" class="button" value="{{ 'Spremi'|trans }}" />
			    <input type="button" class="button link" data-href="{{ app.request.get('back') }}" value="{{ 'Odustani'|trans }}" />
			</div>
		    </div>
		</div>
		<div id="messages">
		    <div class="pro3x_form_content">
			{{ form_row(form.name) }}
			{{ form_rest(form) }}
			<div class="pro3x_buttons">
			    <input type="submit" class="button" value="{{ 'Spremi'|trans }}" />
			    <input type="button" class="button link" data-href="{{ app.request.get('back') }}" value="{{ 'Odustani'|trans }}" />
			</div>
		    </div>
		</div>
		{% endif %}
	    </div>
	</form>
    </div>
{% endblock %}

{% block javascripts %}

    $('#pro3x_invoicebundle_customertype_accomodation, #pro3x_invoicebundle_customertype_ownership').change(function() {
	updateOther();
    });

    function updateOther() {
	if($('#pro3x_invoicebundle_customertype_accomodation').val() == 'ostalo') {
	    $('#pro3x_invoicebundle_customertype_otherAccomodation').prop('disabled', false);
	}
	else {
	    $('#pro3x_invoicebundle_customertype_otherAccomodation').val('').prop('disabled', true);
	}
	
	if($('#pro3x_invoicebundle_customertype_ownership').val() == 'ostalo') {
	    $('#pro3x_invoicebundle_customertype_otherOwnership').prop('disabled', false);
	}
	else {
	    $('#pro3x_invoicebundle_customertype_otherOwnership').val('').prop('disabled', true);
	}
    }
    
    updateOther();
    
{% endblock %}
    
