{% extends '::base.html.twig' %}

{% block page_title %}<img src="{{ asset('icons/small/client.png') }}"></span>{{ 'Popis kupaca'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
	
	{% include '::message.html.twig' %}
	
	<div class="panel panel-default pro3x-table-panel">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="ui-widget-header ui-corner-all">{{ 'Informacije o kupcu'|trans }}</th>
                        <th class="ui-widget-header ui-corner-all" style="width: 300px;">{{ 'Kontakt informacije'|trans }}</th>
                        <th class="ui-widget-header ui-corner-all" style="width: 200px;">{{ 'Alati'|trans }}</th>
                    </tr>
                </thead>
            {% for client in clients %}
                <tr>
                    <td>
                        {% if client.taxNumber %}<div>OIB: {{ client.taxNumber }}{% if client.birthday %} | {{ client.birthday|date('d.m.Y') }}{% endif %}</div>{% endif %}
                        <div>{{ client.description|join(', ') }}</div>
                    </td>
                    <td>
                        <div>{{ client.email }}</div>
                        <div>{{ client.phones|join(', ') }}</div>
                    </td>
                    <td class="pro3x_tools" style="width: 290px;">
                        <a href="{{ path('add_invoice', {'customer': client.id, 'back': app.request.uri}) }}">{{ '+račun'|trans }}</a>
                        {% if is_granted('ROLE_RELATIONS') %}
                        <a href="{{ path('customer_relations', {'id': client.id, 'back': app.request.uri}) }}">{{ 'relacije'|trans }}</a>
                        {% endif %}
                        {% if is_granted('ROLE_NOTES') %}
                        <a href="{{ path('customer_notes', {'id': client.id, 'back': app.request.uri}) }}">{{ 'bilješke'|trans }}</a>
                        {% endif %}
                        <a href="{{ path('customer_history', {'customer': client.id, 'back': app.request.uri }) }}">{{ "kartica"|trans }}</a>
                        <a href="{{ path('edit_client', {'id': client.id, 'back': app.request.uri }) }}">{{ 'izmjeni'|trans }}</a>
                        <a class="pro3x_confirm" 
                           data-icon="pro3x_icon_client_delete" 
                           data-msg="{{ 'Jeste li sigurni da želite izbrisati kupca <b>%name%</b>?'|trans({ '%name%': client.name }) }}" 
                           href="{{ path('delete_client', {'id': client.id, 'back': app.request.uri}) }}">{{ 'izbriši'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="pro3x_no_data" colspan="100">{{ 'Nema rezultata'|trans }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-6" style="padding-right: 0px;">
	<div class="pro3x-table-buttons" style="margin-top: 0.6em;">
           
            <form class="form-horizontal" autocomplete="off" method="POST">
                <div class="col-md-4" style="padding: 0px; margin-right: 4px;">
                    <input class="form-control" type="text" placeholder="{{ 'Naziv ili OIB kupca'|trans }}" name="search" value="{{ search }}" />
                </div>
                
                <div class="btn-group">
                    <input class="btn btn-primary" type="submit" style="width: 76px;" name="action" value="Traži" />
                    <button type="button" class="btn btn-primary  dropdown-toggle" data-toggle="dropdown" style="width: auto;"><span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('print_customers', {'search': search, 'back': app.request.uri}) }}">Ispiši listu odabranih kupaca</a></li>
                    </ul>
                </div>
		
                <a href="{{ path('add_client', {'back': app.request.uri}) }}" class="btn btn-primary">{{ 'Dodaj'|trans }}</a>
                <a href="{{ path('dashboard') }}" class="btn btn-primary">{{ 'Dashboard'|trans }}</a>
	    </form>
            
	</div>
    </div>

    {% include '::pager.html.twig' with {'count': count, 'page': page} %}

    <div class="pro3x_dialog" title="{{ 'Upozorenje!'|trans }}"></div>

{% endblock %}

{% block javascripts %}{% endblock %}