<div class="visible-xs pro3x-invoice-index">
    {% for item in items %}
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ item.name }}</h3>
                </div>
                <table class="table">
                    <tbody>
                        {% if item.address %}
                        <tr>
                            <td class="active" style="width: 40%;">{{ 'Adresa'|trans }}</td>
                            <td>{{ item.address }}</td>
                        </tr>
                        {% endif %}
                        
                        {% if item.location %}
                        <tr>
                            <td class="active" style="width: 40%;">{{ 'Lokacija'|trans }}</td>
                            <td>{{ item.location }}</td>
                        </tr>
                        {% endif %}
                        {% if item.taxNumber %}
                        <tr>
                            <td class="active" style="width: 40%;">{{ 'OIB'|trans }}</td>
                            <td>{{ item.taxNumber }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="panel-footer">
                    <a class="btn btn-primary" href="{{ path(app.request.get('_route'), pagerParams|merge({(selectParam): attribute(item, selectColumn), 'back': app.request.get('back')})) }}">{{ 'Izaberi'|trans }}</a>
                </div>
            </div>
    {% endfor %}
    
    <div class="_row">
        <div class="col-xs-12" style="padding: 0px 0px 20px 0px;">
            <form method="post" autocomplete="off">
                <input type="hidden" name="back" value="{{ app.request.get('back') }}" />
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{ placeholder }}" name="query" value="{{ app.request.get('query') }}" />
                    <span class="input-group-btn"><input type="submit" class="btn btn-primary pro3x-medium-button" value="{{ 'Traži'|trans }}" /></span>
                </div>
            </form>
        </div>
        
        
    </div>
</div>    