{% extends '::base.html.twig' %}

{% block header %}
    <script src="http://www.google.com/cloudprint/client/cpgadget.js"></script>
    <style type="text/css">
	.ui-menu 
	    { position: absolute; width: 200px; margin-top: 10px; z-index: 100; }
    </style>
{% endblock %}

{% block page_title %}
    <img src="{{ asset('icons/small/calendar.png') }}" /> {{ 'Trenutni promet'|trans }} 
    <small style="margin-left: 20px;">{{ selectedDate|date('d.m.Y | H:i\\h') }} | <a href="">{{ operator.displayName }}</a></small>
{% endblock %}

{% block body %}
    <div class="col-md-12" style="margin-bottom: 0.6em;">
	
	{% include '::message.html.twig' %}
	    
	<div class="panel panel-default" style="margin-bottom: 0px;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'Način plaćanja'|trans }}</th>
                        <th style="width: 200px;">{{ 'Iznos prometa'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.transactionType }}</td>
                            <td style="text-align: right;">{{ item.total|number_format(2, ',', '.') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="pro3x_no_data" colspan="100">Nema rezultata</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-9">
	<div class="pro3x-table-buttons">
            <div class="btn-group">
                <a class="btn btn-primary" style="width: 74px;" href="{{ path('print_daily_total', {'id': app.request.get('id'), 'report': app.request.get('report'), 'back': app.request.uri}) }}">Ispis</a>
                <button type="button" style="width: auto;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('print_daily_total', {'id': app.request.get('id'), 'report': app.request.get('report'), 'back': app.request.uri}) }}">Način plaćanja</a></li>
                    <li><a href="{{ path('print_daily_product_report', {'user': app.request.get('id'), 'report': app.request.get('report'), 'back': app.request.uri}) }}">Lista proizvoda</a></li>
                </ul>
            </div>
            

	    {% if app.request.get('report') is null %}
		<a class="pro3x-confirm button btn btn-primary" data-icon="pro3x_small_icon_info" 
		    data-msg="{{ 'Jeste li sigurni da želite zaključiti <b>blagajnu</b>?'|trans }}" 
		    href="{{ path('lock_position', { 'id': app.request.get('id'), 'position': app.request.get('position') }) }}">{{ 'Zaključak'|trans }}</a>
            {% endif %}
                  
	</div>
    </div>
    <div class="col-md-3">
        <div class="pro3x_invoice_total" style="padding: 6px 8px; text-align: right;">{{ 'Ukupno:'|trans }} {{ total|number_format(2, ',', '.') }}kn</div>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="col-md-12">
	<h1 class="pro3x-title"><img src="{{ asset('icons/small/calendar.png') }}" />
        {{ 'Zaključeni prometi'|trans }} <small style="margin-left: 20px;"><a href="{{ path('edit_user', {'id': app.request.get('id')}) }}">{{ operator.displayName }}</a></small></h1>
    </div>
    
    <div class="col-md-12">
	<div class="panel panel-default" style="margin-bottom: 0px;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="ui-widget-header ui-corner-all">Datum</th>
                        <th class="ui-widget-header ui-corner-all">Vrijeme</th>
                        <th class="ui-widget-header ui-corner-all">Ukupno</th>
                        <th class="ui-widget-header ui-corner-all" style="width: 200px;">Alati</th>
                    </tr>
                </thead>
                <tbody>
                    {% if page == 1 %}
                        <tr class="pro3x_no_selection">
                            <td>Trenutni promet</td>
                            <td>{{ selectedDate|date('H:i\\h') }}</td>
                            <td style="text-align: right;">{{ currentTotal }}</td>
                            <td class="pro3x_tools">
                                {% if app.request.get('report') is null %}
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                {% else %}
                                <a href="{{ path('daily_total', {'id': app.request.get('id'), 'position': app.request.get('position'), 'page': page}) }}">{{ 'pregled'|trans }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    {% for item in reports %}
                        <tr>
                            <td>{{ item.created|date('d.m.Y') }}</td>
                            <td>{{ item.created|date('H:i\\h') }}</td>
                            <td style="text-align: right;">{{ item.total|number_format(2, ',', '') }}</td>
                            <td class="pro3x_tools">
                                {% if item.id == app.request.get('report') %}
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                {% else %}
                                    <a href="{{ path('daily_total', {'id': item.operator.id, 'position': item.position.id, 'page': page, 'report': item.id}) }}">{{ 'pregled'|trans }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="pro3x_no_data" colspan="100">Nema rezultata</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6">
	<div class="pro3x-table-buttons" style="margin-top: 0.6em;">
	    <a class="btn btn-primary" href="{{ path('dashboard') }}">{{ 'Dashboard'|trans }}</a>
	</div>
    </div>
    
    {% include '::pager.html.twig' %}

    {% include '::dialog.html.twig' with {btnDelete: 'Zaključi'} %}
    
{% endblock %}

