<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <title>{% block title %}{{ 'Pro3x Online'|trans }}{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="{{ asset('style.css') }}" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        <style>

            .report-content .report-item
            {
                    background-color:#efefef!important;
                    border-bottom:solid 1px #fff;
            }

            .report-template
            {
                    width:210mm;
                    margin:50px auto;
            }

            .report .report-page-footer
            {
                    position:absolute;
                    width:200mm;
            }

            .report
            {
                    background-color:#efefef;
            }

            .report .page
            {
                    background-color:#fff;
                    width:210mm;
                    position:relative;
                    margin:0;
            }

            .report-page-footer,.report-page-header
            {
            }

            .report-content-footer,.report-content-header
            {
            }

            @media print 
            {    
                @page
                {
                        size:A4 portrait;
                        margin:0;
                }

                .report .page
                {
                        page-break-after:always;
                        height:292mm;
                        margin:0;
                }

                .report-template
                {
                        display:none;
                }

                .report .report-page-footer
                {
                        bottom:0;
                }

                .report-last-page
                {
                        page-break-after:never;
                }
            }

            @media screen 
            {
                .report .page
                {
                        box-shadow:0 0 5px 0 gray;
                        height:297mm;
                        margin:10px auto;
                }

                .report .report-page-footer
                {
                        bottom:5mm;
                }

                .report
                {
                        padding: 0mm;
                }
            }
            
        </style>
        
    </head>
    <body class="pro3x-report">
        <div class="pro3x-ui">
            <nav class="navbar navbar-inverse navbar-static-top pro3x-main-menu" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        {% if app.request.get('back') %}
                            <a class="navbar-brand" href="{{ app.request.get('back')  }}"><span class="glyphicon glyphicon-chevron-left"></span> {{ 'Pro3x Online Dashboard'|trans }}</a>
                        {% else %}
                            <a class="navbar-brand" href="{{ path('dashboard') }}"><span class="glyphicon glyphicon-home"></span> {{ 'Pro3x Online Dashboard'|trans }}</a>
                        {% endif %}
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            {% block menu %}<li><a class="pro3x-print-document" href="#">{{ 'Ispis dokumenta'|trans }}</a></li>{% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
                        
        
                            
        <div class="pro3x-print">
            <div class="pro3x-ui"><div style="height: 50px;"></div></div>
            
            {% block content %}{% endblock %}
            
            <div class="pro3x-ui"><div style="height: 50px;"></div></div>
        </div>
        
        <script>
            (function($) {

                $.fn.report = function(template, options) {

                    var template = $(template);
                    var report = this;
                    var page = null;
                    var content = null;
                    var height = 0;
                    var count = 0;

                    var settings = $.extend({
                        pageHeaderClass         : 'report-page-header',
                        pageFooterClass         : 'report-page-footer',
                        contentHeaderClass      : 'report-content-header',
                        contentFooterClass      : 'report-content-footer',
                        contentClass            : 'report-content',
                        itemClass               : 'report-item',
                        pageClass               : 'page',
                        lastPageClass           : 'report-last-page',
                        pageNumberClass         : 'report-page-number',
                        pageCountClass          : 'report-page-count',
                        removeTemplate          : true
                    }, options);

                    function appendPage() {
                        page = $('<div class="' + settings.pageClass + '"></div>');
                        report.append(page);

                        page.append($('.' + settings.pageHeaderClass, template).clone());
                        page.append($('.' + settings.pageFooterClass, template).clone());

                        var contentTemplate = $('.' + settings.contentClass, template).clone();
                        $('tbody tr', contentTemplate).remove();
                        
                        content = $('tbody', contentTemplate);
                        
                        page.append(contentTemplate);

                        //content.append($('.' + settings.contentHeaderClass, template).clone());

                        count++;
                    }

                    appendPage();

                    // calculate max content height
                    height = page.height() - 100;

                    page.children().each(function() {
                        height -= $(this).innerHeight();
                    });

                    // generate report
                    $('.' + settings.contentClass + ' .' + settings.itemClass, template).each(function() {
                        var item = $(this);

                        if((content.height() + item.innerHeight()) > height) {
                            appendPage();
                        }

                        content.append(item.clone());
                    });

                    // append report footer
                    var footer = $('.' + settings.contentFooterClass, template);

                    if((content.height() + footer.innerHeight()) > height) {
                        appendPage();
                    }

                    page.append(footer.clone());

                    // add last page class
                    page.addClass(settings.lastPageClass);

                    // enumerate pages
                    $('.' + settings.pageClass, report).each(function(index) {
                       $('.' + settings.pageNumberClass, this).text(index + 1);
                       $('.' + settings.pageCountClass, this).text(count);
                    });

                    // remove template
                    if(settings.removeTemplate) {
                        template.remove();
                    }
                };

            })(jQuery);

            jQuery(document).ready(function($) {
                {% block javascript %}
                    $('.pro3x-print-document').click(function(event) {
                        event.preventDefault();
                        window.print();
                    });
                {% endblock %}
            });
        </script>
    </body>
</html>
