{% extends '::base.html.twig' %}

{% block page_title %}<span class="pro3x_small_icon pro3x_small_icon_invoice_add"></span>Nova kalkulacija | Izbor dobavljača
{% endblock %}

{% block body %}
    <div class="grid_12">
	{% include '::message.html.twig' %}
	<form action="">
	    <table class="ui-widget-content ui-corner-all pro3x">
		<thead>
		    <tr>
			    <th class="ui-widget-header ui-corner-all" style="width: 350px;">{{ 'Naziv'|trans }}</th>
			    <th class="ui-widget-header ui-corner-all">{{ 'Cijena'|trans }}</th>
			    <th class="ui-widget-header ui-corner-all">{{ 'Količina'|trans }}</th>
			    <th class="ui-widget-header ui-corner-all">{{ 'Osnovica'|trans }}</th>
			    <th class="ui-widget-header ui-corner-all">{{ 'Popust'|trans }}</th>
			    <th class="ui-widget-header ui-corner-all">{{ 'Ukupno'|trans }}</th>
		    </tr>
		</thead>

		<tbody class="pro3x_invoice_items">
		
		    <tr>		    
			<td colspan="100" class="pro3x_no_data">{{ 'Upišite barkod ili šifru artikla i kliknite enter ili gumb Dodaj'|trans }}</td>
		    </tr>
		
		</tbody>
	    </table>
	</form>	
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}